# common
dev.vim
build/
dist
sevenn.egg-info
*.swp
__pycache__/

# from uv
uv.lock
.python-version

# downloaded models
sevenn/pretrained_potentials/SevenNet_MF_ompa
sevenn/pretrained_potentials/SevenNet_omat
sevenn/pretrained_potentials/SevenNet_omni

# from compile
sevenn/pair_d3*
*ninja*
*libpaird3*
